  <%-include("partials/header")-%>
  <script>document.querySelector("body").style.backgroundColor="blueviolet";</script>

  <form action="/" method="post" class="sing_in">
  <div class="login-front">
  <div class="card text-center bg-dark text-white" style="width: 18rem;">
    <h5 class="card-title">Log in<p class="card-text">With supporting text below as a natural lead-in to additional content.</p></h5>
    <div class="card-body p-1">
      <label class="card-title" for="email">email</label>
        <input type="email" name="" id="email">
        <label class="card-title" for="passwd">password</label>
        <input type="password" name="" id="passwd">
      <button type="submit" class="btn btn-primary" name="log_go">LogIN</button>
      <p class="card-text"><small class="text-muted"><a href="#">forget password?</a></small></p>
    </div>
    <div class="card-footer">
      <a href="/signUp">Sign Up a New Email </a>
    </div>
  </div>
</div>

</form>

  <%-include("partials/footer")-%>