<%-include("partials/header")-%>

<form action="/" method="post">
    <label for="verifymsg">Code:</label>
    <input type="text" name="numverify" id="verifymsg">
    <button class="btn btn-primary" type="submit" name="action" value="sendmsg">Send</button>
</form>


<%-include("partials/footer")-%>